<div class="container" style="background-color: blanchedalmond;">
  <h2>PARENT COMPONENT</h2>
  <div class="row p-3">
    <div class="col-6">
      <div class="form-group">
        <label for="inp1">This will be sent to child component using @Input decorator</label>
        <input class="form-control" type="text" name="inp1" [(ngModel)]="value" placeholder="Enter something to pass to child...">
      </div>
      <h2 *ngIf="dataFromChild">From child using @Output : {{dataFromChild}}</h2>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="inp2">This will be sent to child component via a Local Variable</label>
        <input class="form-control" type="text" name="inp2" placeholder="Enter something and Click Pass To Child.." #refInput>
      </div>
      <button class="btn btn-sm btn-secondary" (click) = "updateLocalVar(refInput.value)">Pass To Child</button>
    </div>
  </div>
  <div class="row p-3">
    <div class="col-6">
      <button class="btn btn-lg btn-outline-info" (click)="refChild.someMethod()">Click here to invoke child method via local variable.</button>
    </div>
    <div class="col-6">
      <button class="btn btn-lg btn-outline-success" (click)="childComponent.anotherMethod()">Click here invoke child component using @ViewChild</button>
    </div>
  </div>
  <div class="row p-3">
    <div class="col">
      <app-interaction-child
        [childData]="value"
        [anotherChildData]="localVar"
        (toParent)="dataFromChild=$event"
        #refChild>
        <div class="container">
          <h2>This is introduced using ng-content directive</h2>
          <h3 *ngIf="dataFromChild">Child value : {{dataFromChild}}</h3>
          <h3 *ngIf="value">Parent value : {{value}}</h3>
        </div>
      </app-interaction-child>
    </div>
  </div>
  <div class="row p-3">
    <div class="col">
      <button class="btn btn-danger" (click)="reset()">Reset All Values</button>
    </div>
  </div>
</div>
